</head>
<body>
    <nav class="navbar navbar-expand-lg background1 sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="images/logo.png"
                    alt="" width="30" height="24">
            </a>
            <a class="navbar-brand" href="#">ShelterUp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active textcolor" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/help">Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link textcolor" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>